{% extends "layout/base_auth.html" %}
{% load static %}

{% block content %}
    <!-- Formulario de inicio de sesion -->
    <form method="POST">
        {% csrf_token %}
        <!-- Titulo -->
        <h2>Inicia sesion</h2>
        
        <!-- Iniciar sesion con google -->
        <a href="#">Continuar con google</a>

        {% if mensaje_error %}
            <div class="contenedor_mensaje">
                <p style="color: red;">{{mensaje_error}}</p>
            </div>
        {% endif %}
        
        <!-- Iniciar sesion con google -->
        {% comment %} <a href="#">Continuar con google</a> {% endcomment %}
        <!-- Contenedor para los inputs-->
        <div class="contenedor_inputs">
            <!-- Input de correo -->
            <div class="contenedor_correo">
                <input type="email" name="correo" id="correo" placeholder="Correo">
                <img src="#" alt="Icono de correo">
            </div>
            <!-- Input de contrasena -->
            <div class="contenedor_contrasena">
                <input type="password" name="password" id="password" placeholder="Contrasena">
                <img src="#" alt="Icono de contrasena">
            </div>
        </div>

        <!-- Recuperar cuenta -->
        <a href="{% url 'password_reset' %}">Olvidaste tu contrasena?</a>

        <!-- Boton iniciar sesion -->
        <button type="submit">Iniciar sesion</button>

        <!-- link de registro -->
         <a href="{% url 'register' %}">No tienes una cuenta?</a>
    </form>
{% endblock %}  
