{% extends "layout/base_auth.html" %}
{% load static %}

{% block content %}
    <!-- Formulario de Registro -->
    <form action="" method="POST">
        {% csrf_token %}
        <!-- Titulo -->
        <h2>Crea una cuenta</h2>
        
        <!-- {% if form.errors %}
            <p style="color: red;">{{form.errors}}</p>
        {% endif %} -->

        <!-- {% if messages %}
            <div class="contenedor_mensaje">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %} -->
        
        <!-- Iniciar sesion con google -->
        <a href="#">Continuar con google</a>

        <!-- Contenedor para los inputs-->
        <div class="contenedor_inputs">
            <!-- Input de nombre -->
            <div class="contenedor_nombre">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                <img src="#" alt="Icono de correo">
            </div>
            <!-- Input de correo -->
            <div class="contenedor_correo">
                <input type="email" name="correo" id="correo" placeholder="Correo">
                <img src="#" alt="Icono de correo">
            </div>
            <!-- Input de contraseña -->
            <div class="contenedor_contrasena">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <img src="#" alt="Icono de contraseña">
            </div>
            <!-- Input de confirmar contraseña -->
            <div class="contenedor_conf_contrasena">
                <input type="password" name="" id="" placeholder="Confirmar Contraseña">
                <img src="#" alt="Icono de contraseña">
            </div>
        </div>

        <!-- Recuperar cuenta -->
        <a href="#">Olvidaste tu contraseña?</a>

        <!-- link de registro -->
        <a href="{% url 'login' %}">Ya tienes una cuenta?</a>

        <!-- Boton iniciar sesion -->
        <button type="submit">Crear cuenta</button>
    </form>
{% endblock %}