{% extends "layout/base_auth.html" %}
{% load static %}

{% block content %}
    <!-- Formulario de Registro -->
    <form action="" method="POST">
        {% csrf_token %}
        <!-- Titulo -->
        <h2>Crea una cuenta</h2>
        

        {% if mensaje_error %}
            <div class="contenedor_mensaje">
                <p style="color: red;">{{mensaje_error}}</p>
            </div>
        {% endif %}
        
        <!-- Iniciar sesion con google -->
        {% comment %} <a href="#">Continuar con google</a> {% endcomment %}

        <!-- Contenedor para los inputs-->
        <div class="contenedor_inputs">
                <input type="text" name="nombre" maxlength="100" required="" id="id_nombre" placeholder = "Nombre Completo">

                <input type="email" name="correo" maxlength="254" required="" id="id_correo" placeholder = "Correo electronico">

                <input type="text" name="telefono" maxlength="20" id="id_telefono" placeholder = "Telefono">

                <input type="text" name="direccion" maxlength="300" required="" id="id_direccion" placeholder = "Direccion">

                <input type="text" name="password" maxlength="100" required="" id="id_password" placeholder = "Contrasena">

                <input type="text" name="cpassword" maxlength="100" required="" id="id_cpassword" placeholder = "Confirmar Contrasena">

        </div>

        <!-- Boton iniciar sesion -->
        <button type="submit">Crear cuenta</button>

        <!-- link de registro -->
        <a href="{% url 'login' %}">Ya tienes una cuenta?</a>

    </form>
{% endblock %}