:root{
    --azul: #163B79;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

aside{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
    float: left;
}

aside .logo{
    width: 12rem;
    margin: 2rem;
    margin-top: 0;
}

aside nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside nav a{
    color: var(--azul);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

header{
    background-color: #f8f8f8;
    display: flex;
    padding: 2rem 5rem;
    align-items: center;
    height: 8rem;
}

header h1{
    font-size: 1.3rem;
}

header h3{
    font-size: 1rem;
    font-weight: normal;
}