:root{
    --azul: #163B79;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
    float: left;
}

aside .logo{
    width: 16rem;
    margin: 1rem;
}

aside nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside nav a{
    color: var(--azul);
    font-size: 1.5rem;
    font-weight: 800;
    padding: 2rem;
    text-decoration: none;
    text-align: center;
}

header{
    background-color: #f8f8f8;
    display: flex;
    padding: 2rem 5rem;
    align-items: center;
    height: 12rem;
}