@import url("./styles.css");

/* -----------------------------------------------------------
HEADER
----------------------------------------------------------- */
header{
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 95%;
    margin-top: 1rem;
    padding: 0 1.5rem;
    border-radius: .5rem;

    display: grid;
    grid-template-columns: 15rem 1fr 1fr;
    gap: 1.5rem;

    align-items: center;
    justify-items: center;
    justify-self: center;
    
}

header img{
    height: 7rem;
}

/* -----------------------------------------------------------
BUSCADOR
----------------------------------------------------------- */
header form{
    display: flex;
    height: 2.5rem;
}

header form input{
    padding: .8rem;
    padding-left: 3rem;
    width: 30vw;
    border: solid .1rem rgba(0, 0, 0, .3);
    border-radius: .3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: .8rem;
}

header form input:focus{
    outline: none;
    border: none;
    border: 2px solid var(--verde-oscuro);
}

header form img{
    width: 1rem;
    height: 1rem;
    position: absolute;
    justify-self: center;
    align-self: center;
    margin-left: 1rem;
}

header form button{
    padding: 0 1rem;
    border: solid .1rem var(--verde);
    border-radius: .3rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: var(--verde);
    color: white;
    font-weight: bold;

    transition: .3s;
}

header form button:hover{
    background-color: var(--verde-oscuro);
    cursor: pointer;
}

/* -----------------------------------------------------------
NAV
----------------------------------------------------------- */
nav{
    display: flex;
}
nav a{
    text-decoration: none;
    font-size: .95rem;
    font-weight: bold;
    color: var(--azul);
    padding: .6rem 1rem;
}

nav a::after{
    content: '';
    width: 0;
    height: .13rem;
    display: block;
    transition: .3s;
}

nav a:hover::after{
    width: 100%;
    background-color: var(--verde);
}

nav .Login:hover::after,
nav .Register:hover::after{
    display: none;
}

nav .Login,
nav .Register{
    position: relative;
    right: -5rem;
    text-align: right;
    transition: .3s;
}

nav .Login:hover{
    background-color: rgb(224, 224, 224);
}

nav .Register:hover{
    background-color: var(--verde-oscuro);
}

nav .Register{
    background-color: var(--verde);
    color: white;
    border-radius: .2rem;
}