<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth/style.css' %}">
</head>
<body>
    <header>
        <!-- {% if request.META.HTTP_REFERER %}
            <a href="{{ request.META.HTTP_REFERER }}">Volver</a>
        {% else %}
            <a href="{% url 'inicio' %}">Ir al inicio</a>
        {% endif %} -->

        <a href="{% url 'inicio' %}">Ir al inicio</a>

    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
