{% extends "layout/base_empleado.html" %}
{% load static %}

{% block titulo_pagina %}Categorías{% endblock %}

{% block content %}

    <section class="contenedor_tarjetas">
        <!-- Tarjeta categoría -->
        <div class="tarjeta_categoría">
            <h3>Analgésicos</h3>
            <p>Medicamentos para el alivio del dolor.</p>

            <div class="acciones">
                <button class="btn btn_editar">Editar</button>
                <button class="btn btn_eliminar">Eliminar</button>
            </div>
        </div>
    </section>

{% endblock %}