{% extends "layout/base_empleado.html" %}
{% load static %}

{% block titulo_pagina %}Inventario{% endblock %}
{% block subtitulo_pagina %}Control del stock de productos{% endblock %}

{% block content %}

    <form action="">
        <h2>Agregar Producto</h2>

        
    </form>
    <section class="contenedor_tarjetas">
        <!-- Tarjeta producto -->
        {% for producto in productos %}
        <div class="tarjeta_producto">
            <img src="{{ producto.imagen }}" alt="Imagen de {{ producto.nombre }}">

            <div class="contenido_tarjeta">
                <h3>{{ producto.nombre }}</h3>
                <p class="categoria">Categoría: {{ producto.categoria }}</p>
                <p>{{ producto.descripcion }}</p>

                <p class="precio">${{ producto.precio }}</p>
                <p class="stock">Stock: {{ producto.stock }}</p>
                <p class="fecha">Vence: {{ producto.fecha_vencimiento }}</p>
            </div>

            <div class="acciones">
                <button class="btn btn_editar">Editar</button>
                <button class="btn btn_eliminar">Eliminar</button>
            </div>
        </div>
        {% empty %}
        <p>Nada que mostrar</p>
        {% endfor %}
    </section>
{% endblock %}